.places {
    display: flex;
    flex-direction: column;
}

.places h1 {
    font-size: 30px;
    width: 100%;
}
.places div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.places article {
    width: 390px;
    padding: auto 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
}